<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Các Chức Năng
  </div>

  <!-- Quản Lý Thương Hiệu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Thương Hiệu</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Thương Hiệu:</h6>
        <a class="collapse-item" href="/admin/brand.html">Danh Sách Thương Hiệu</a>
        <a class="collapse-item" href="/admin/brand/create.html">Thêm Thương Hiệu</a>
      </div>
    </div>
  </li>

  <!-- Quản Lý Danh Mục -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Danh Mục</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Danh Mục:</h6>
        <a class="collapse-item" href="/admin/category.html">Danh Sách Danh Mục</a>
        <a class="collapse-item" href="/admin/category/create.html">Thêm Danh Mục</a>
      </div>
    </div>
  </li>

  <!-- Quản lý laptop -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLaptop" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Laptop</span>
    </a>
    <div id="collapseLaptop" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Laptop:</h6>
        <a class="collapse-item" href="/admin/laptop.html">Danh Sách Laptop</a>
        <a class="collapse-item" href="/admin/laptop/create.html">Thêm Laptop</a>
      </div>
    </div>
  </li>

  <!-- Quản lý bàn phím -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsekeyboard" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Bàn Phím</span>
    </a>
    <div id="collapsekeyboard" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Bàn Phím:</h6>
        <a class="collapse-item" href="/admin/keyboard.html">Danh Sách Bàn Phím</a>
        <a class="collapse-item" href="/admin/keyboard/create.html">Thêm Bàn Phím</a>
      </div>
    </div>
  </li>

  <!-- quản lý chuột -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsemouse" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Chuột</span>
    </a>
    <div id="collapsemouse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Chuột:</h6>
        <a class="collapse-item" href="/admin/mouse.html">Danh Sách Chuột</a>
        <a class="collapse-item" href="/admin/mouse/create.html">Thêm Chuột</a>
      </div>
    </div>
  </li>

  <!-- quản lý khách hàng -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecustomer" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Khách hàng</span>
    </a>
    <div id="collapsecustomer" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Khách Hàng:</h6>
        <a class="collapse-item" href="/admin/customer.html">Danh Sách Khách Hàng</a>
        <a class="collapse-item" href="/admin/customer/create.html">Thêm Khách Hàng</a>
      </div>
    </div>
  </li>


  <!-- quản lý đơn hàng -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseorder" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Đơn Hàng</span>
    </a>
    <div id="collapseorder" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Đơn Hàng:</h6>
        <a class="collapse-item" href="/admin/order.html">Danh Sách Đơn Hàng</a>
        <a class="collapse-item" href="/admin/order/create/view">Thêm Đơn Hàng</a>
      </div>
    </div>
  </li>

  <!-- quản lý comment -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecomment" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Bình Luận</span>
    </a>
    <div id="collapsecomment" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Bình Luận:</h6>
        <a class="collapse-item" href="/admin/comment.html">Danh Sách Bình Luận</a>
        <!-- <a class="collapse-item" href="/admin/order/create.html">Thêm Đơn Hàng</a> -->
      </div>
    </div>
  </li>

  <!-- quản lý hình ảnh -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseimageitem" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Hình Ảnh</span>
    </a>
    <div id="collapseimageitem" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Hình Ảnh:</h6>
        <a class="collapse-item" href="/admin/image-child.html">Danh Sách Ảnh</a>
        <!-- <a class="collapse-item" href="/admin/order/create.html">Thêm Đơn Hàng</a> -->
      </div>
    </div>
  </li>

  <!-- quản lý tác vụ -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseaction" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Tác Vụ</span>
    </a>
    <div id="collapseaction" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Tác Vụ:</h6>
        <a class="collapse-item" href="/admin/action.html">Xem Các Tác Vụ</a>
        <!-- <a class="collapse-item" href="/admin/order/create.html">Thêm Đơn Hàng</a> -->
      </div>
    </div>
  </li>

  <!-- quản lý role -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserole" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Vai Trò</span>
    </a>
    <div id="collapserole" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Vai Trò:</h6>
        <a class="collapse-item" href="/admin/role.html">Xem Các Vai Trò</a>
        <a class="collapse-item" href="/admin/role/create.html">Thêm Vai Trò</a>
        <!-- <a class="collapse-item" href="/admin/order/create.html">Thêm Đơn Hàng</a> -->
      </div>
    </div>
  </li>


  <!-- Quản lý phí shipp -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefee" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Phí Vận Chuyển</span>
    </a>
    <div id="collapsefee" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Phí Vận Chuyển:</h6>
        <a class="collapse-item" href="/admin/transport.html">Danh Sách Phí Ship</a>
        <!-- <a class="collapse-item" href="/admin/order/create.html">Thêm Đơn Hàng</a> -->
      </div>
    </div>
  </li>

  <!-- quản lý staff -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestaff" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Nhân Viên</span>
    </a>
    <div id="collapsestaff" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Nhân Viên</h6>
        <a class="collapse-item" href="/admin/staff.html">Danh Sách Nhân Viên</a>
        <a class="collapse-item" href="/admin/staff/create.html">Thêm Nhân Viên</a>
      </div>
    </div>
  </li>

  <!-- quản lý promotion -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsepromotion" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Khuyến Mãi</span>
    </a>
    <div id="collapsepromotion" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quản Lý Đợt Khuyến Mãi</h6>
        <a class="collapse-item" href="/admin/promotion.html">Các Đợt Khuyến Mãi</a>
        <a class="collapse-item" href="/admin/promotion/create.html">Thêm Đợt Khuyến Mãi</a>
      </div>
    </div>
  </li>
</ul>