<!-- Page Wrapper -->
<%- include('../layout/header.ejs') %>

<!-- Sidebar -->
<%- include('../layout/sidebar.ejs') %>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%- include('../layout/navbar.ejs') %>
    <form action="/admin/role/create" method="POST" class="create-role container">
      <h3 class="text-center">Thêm Vai Trò</h3>
      <div class="mb-3">
        <input type="text" name="name_role" class="form-control" placeholder="Nhập tên vai trò">
      </div>
      <div>
        <button type="submit" class="btn btn-warning">Lưu</button>
        <button type="reset" class="btn btn-primary">Nhập Lại</button>
      </div>

    </form>
  </div>
</div>
<%- include('../layout/footer.ejs') %>